Repository bounswe/bounswe2018group10, pull requests merged in 2018-10, with the labels that each got.

#98 API for user profile added. Permission file added.
  application/backend/freelancer-project/freelancer/settings.py
  application/backend/freelancer-project/freelancer/urls.py
  application/backend/freelancer-project/requirements.txt
  application/backend/freelancer-project/user/admin.py
  application/backend/freelancer-project/user/migrations/0002_userprofile.py
  application/backend/freelancer-project/user/migrations/0003_auto_20181020_2030.py
  application/backend/freelancer-project/user/migrations/0004_userprofile_name.py
  application/backend/freelancer-project/user/models.py
  application/backend/freelancer-project/user/permissions.py
  application/backend/freelancer-project/user/serializers.py
  application/backend/freelancer-project/user/urls.py
  application/backend/freelancer-project/user/views.py
Labels: enhancement, feature, priority: medium

#109 Add profile and profile edit pages
  application/frontend/src/assets/blank-profile-picture.svg
  application/frontend/src/components/Dashboard.vue
  application/frontend/src/components/Home.vue
  application/frontend/src/components/NavigationBar.vue
  application/frontend/src/components/Profile.vue
  application/frontend/src/components/ProfileEdit.vue
  application/frontend/src/components/Signup.vue
  application/frontend/src/router/index.js
Labels: frontend

#114 Frontend project creation
  application/frontend/package-lock.json
  application/frontend/package.json
  application/frontend/src/components/Dashboard.vue
  application/frontend/src/components/Login.vue
  application/frontend/src/components/MyProjects.vue
  application/frontend/src/components/ProfileEdit.vue
  application/frontend/src/components/Project.vue
  application/frontend/src/components/ProjectCreate.vue
  application/frontend/src/components/Signup.vue
  application/frontend/src/main.js
  application/frontend/src/router/index.js
Labels: frontend

#113 Docker stable
  .gitignore
  application/backend/freelancer-project/Dockerfile
  application/backend/freelancer-project/freelancer/settings.py
  application/docker-compose.yml
  application/frontend/Dockerfile
  twitter-api/SentimentAnalysis/.DS_Store
  twitter-api/SentimentAnalysis/static/.DS_Store
  twitter-api/SentimentAnalysis/templates/.DS_Store
Labels: feature
